submenu "Arch boot options" {
  menuentry "Arch full" {
    echo	'Loading Linux linux-lts full options ...'
    # set root='hd0,gpt3'
    search --no-floppy --fs-uuid --set=root boot_uuid_number
    linux /boot/vmlinuz-linux-lts root=UUID=root_uuid_number ro loglevel=3 nvidia-drm.modeset=1 root=/dev/mapper/Cbtrfs cryptdevice=UUID=luks_uuid_number:Cbtrfs
    initrd /boot/intel-ucode.img /boot/initramfs-linux-lts.img
  }
  menuentry "Arch standard" {
    echo	'Loading Linux linux-lts standard options...'
    # set root='hd0,gpt3'
    search --no-floppy --fs-uuid --set=root boot_uuid_number
    linux /boot/vmlinuz-linux-lts root=UUID=root_uuid_number ro loglevel=3 root=/dev/mapper/Cbtrfs cryptdevice=UUID=luks_uuid_number:Cbtrfs
    initrd /boot/intel-ucode.img /boot/initramfs-linux-lts.img
  }
  menuentry "Arch simple" {
    echo	'Loading Linux linux-lts simple optionsc ...'
    # set root='hd0,gpt3'
    search --no-floppy --fs-uuid --set=root boot_uuid_number
    linux /boot/vmlinuz-linux-lts root=UUID=root_uuid_number ro loglevel=3 root=/dev/mapper/Cbtrfs cryptdevice=UUID=luks_uuid_number:Cbtrfs
    initrd /boot/initramfs-linux-lts.img
  }
  menuentry "Arch minimal" {
    echo	'Loading Linux linux-lts minimal ...'
    # set root='hd0,gpt3'
    search --no-floppy --fs-uuid --set=root boot_uuid_number
    linux /boot/vmlinuz-linux-lts root=UUID=root_uuid_number ro loglevel=3 root=/dev/mapper/Cbtrfs cryptdevice=UUID=luks_uuid_number:Cbtrfs
  }
}
